@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Karla', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f3f4f5;
    font-size: 18px;
}

.mynav {
    color: #ca8300;
}

.profile-picture {
    width: 250px;
    height: auto;
}

#day {
    font-weight: bolder;
}

.icons i {
    font-size: 1.5rem;
    color: #333;
    padding: 0 5px;
    margin-top: 2.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.foot i {
    font-size: 1.5rem;
    color: rgb(110, 110, 110);
    padding: 0 5px;
}

p{
    word-wrap: break-word;
}

.yell {
    position: relative;
    background: linear-gradient(to bottom, #ffaa00 55vh, transparent 0);
    z-index: 1;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.mylists li {
    background-color: transparent;
    padding: 0px;
}

.mylists li h5 {
    font-weight: bold;
}

.aboutme {
    position: relative;
    padding-bottom: 140px;
}

.highlight {
    color: #ca8300;
}


.skills  {
    font-size: 1.5rem;
    color: #333;
    padding: 5px 0;
    margin-top: 2.5rem;
}

.skills i {
    color: #ca8300 ;
}

.bg-skills {
    background-color: #ffaa00;
}

.nav-highlight {
    border-bottom: 3px solid #ffaa00;
}

.fc {
    position: relative;
    padding-bottom: 25px;
}

.fc small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 5px;
}

.succ input {
    border: 2px solid #198754;
}

.fail input {
    border:2px solid #dc3545;
}

.fail small {
    color: #dc3545;
    visibility: visible;
}

.projs {
    border-bottom: 1px solid rgba(102, 102, 102, 0.3);
    margin-top: 15px;
    padding-bottom: 10px;
}

.proj-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.proj-description {
    padding-top: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.2s ease ;
}

.projs.active .proj-description{
    max-height: 200px;
}

.projs.active i {
    transform: rotate(180deg) ;
}

.proj-name h5 {
    font-weight: bold;
}

.intro-view {
    height: 100vh;
}

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: lighter;
}


.welcome {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background: #333;
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fly {
    list-style: none;
    
}

.fly li {
    display: inline-block;
    margin-right: 10px;
    font-size: 5em;
    color: #ffaa00;
    opacity: 1;
    transition: all 3s ease;
}

.fly li:nth-child(7) {
    margin-right: 0;
}

.enter-button {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    color: #fff;
    opacity: 1;
    margin-top: 20px;
    transition: all 1s ease 3s;
}

.hidden-content .fly li {
    opacity: 1;
}

.hidden-content .fly li:nth-child(1) {transform: translate3d(-90px, 0, 0);}
.hidden-content .fly li:nth-child(2) {transform: translate3d(-60px, 0, 0);}
.hidden-content .fly li:nth-child(3) {transform: translate3d(-30px, 0, 0);}
.hidden-content .fly li:nth-child(4) {transform: translate3d(0px, 0, 0);}
.hidden-content .fly li:nth-child(5) {transform: translate3d(30px, 0, 0);}
.hidden-content .fly li:nth-child(6) {transform: translate3d(60px, 0, 0);}
.hidden-content .fly li:nth-child(7) {transform: translate3d(90px, 0, 0);}

.hidden-content .enter {opacity: 0; transform: translate3d(0, -30px, 0);}